* {
    margin: 0;
    padding: 0;
}

.gallery{
    background: url('images\ \(4\).jpeg');
    width: auto;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 24px;
    display: flex;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    left: 500px;
    font-weight: bold;
    color: white;
}
a{
    text-decoration: none;
}
.content{
    width: 20px;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0);
    transition: .4s;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0);
    transform: translate(0px, -8px);
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p{
    text-align: center;
    color: white;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: black;
    margin: 0;
    left: 500px;
    font-weight: bold;
    color: white;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
li{
    padding-top: 5px;
}
.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
.checked{
    color: orange;
}
.fa:hover{
    transform: scale(1,3);
    transition: .6s;
}
.button{
    text-align: center;
    font-size: 24px;
    color: white;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.purchase-1{
    background: orange;
}
.purchase-2{
    background: orange;
}
.purchase-3{
    background: orange;
}
.purchase-4{
    background: orange;
}
.purchase-5{
    background: orange;
}
@media(max-width:1000px){
    .content{
        width: 45%;
    }
}
@media(max-width:750px){
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 5px solid white;
    }
}